.nav-container {
    background-color     : rgb(16, 40, 65);
    color                : white;
    display              : grid;
    grid-template-columns: 100px 150px 1fr 100px 60px;
    grid-template-rows   : 60px;
    grid-column-gap      : 0px;
    grid-row-gap         : 0px;
}

.section-header {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
    background-color: white;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header {
    place-self: center;
    background-color: white;
    color           : rgb(65, 65, 153);
    font-size       : 16px;
    margin: 0;
}

.nav-tagline {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center;
}

.menu-title {
    grid-area: 1 / 4 / 2 / 5;
    place-self: center;
}

i {
    grid-area: 1 / 5 / 2 / 6;
    place-self: center;
}
